<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>V-IF</title>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>Hello Vue.js</h1>
            <h2 v-if="yes">YES</h2>
            <h2 v-if="no">NO</h2>
            <h2 v-if="age > 25">Age: {{age}}</h2>
            <h2 v-if="name.indexOf('jack') >= 0">Name: {{ name }}</h2>
        </div>
        <script type="text/javascript" src="../js/v-if.js"></script>
    </body>
</html>